.services-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.services-card {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.services-content-container {
  display: flex;
  width: 100%;
}
.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  font-size: 25px;
  p {
    font-size: 18px;
  }
}
.padding-top {
  padding-top: 1rem;
}
.service-chip {
  display: flex;
  position: relative;
  height: 6rem;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
  text-align: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--primary-gray);
  .service-name {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    word-break: break-all;
    font-size: 20px;
    font-weight: 400;
  }
  .service-icon {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    .circle {
      display: flex;
      position: absolute;
      justify-content: flex-end;
      padding-right: 20%;
      align-items: center;
      left: -30px;
      height: 150%;
      width: 120%;
      font-size: 36px;
      border-radius: 50%;
      color: var(--white);
      background-color: var(--primary-red);
    }
    .icon {
      display: flex;
      z-index: 1;
      justify-content: flex-start;
      width: 100%;
      padding-left: 20%;
      align-items: center;
      font-size: 30px;
      color: var(--white);
    }
  }
}
.service-toggle-btn {
  display: flex;
  height: 100%;
  width: fit-content;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  padding: 0.3rem 0.5rem;
  border-radius: var(--border-radius);
  color: var(--white);
  p {
    font-size: 18px;
    display: flex;
    width: 3rem;
    justify-content: center;
    align-items: center;
  }
}
.more-chevron {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  transition: transform 300ms ease-in-out;
}
.expand {
  transform: rotate(0deg);
}
.collapse {
  transform: rotate(180deg);
}
