.services-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.services-card {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.services-content-container {
  display: flex;
  width: 100%;
}
.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  font-size: 25px;
  p {
    font-size: 18px;
  }
}
.padding-top {
  padding-top: 1rem;
}
.service-chip {
  display: flex;
  height: 6rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--primary-gray);
  .service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: var(--tertiary-gray);
    flex-direction: column;
  }
}
.service-toggle-btn {
  display: flex;
  height: 100%;
  width: fit-content;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  padding: 0.3rem 0.5rem;
  border-radius: var(--border-radius);
  color: var(--white);
  p {
    font-size: 18px;
    display: flex;
    width: 3rem;
    justify-content: center;
    align-items: center;
  }
}
.more-chevron {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  transition: transform 300ms ease-in-out;
}
.expand {
  transform: rotate(0deg);
}
.collapse {
  transform: rotate(180deg);
}
