.services-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-gray);
}
.services-card {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-content-container {
  display: flex;
  width: 100%;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 50rem;
  font-size: 25px;
  p {
    font-size: 18px;
  }
}
.padding-top {
  padding-top: 1rem;
}
.service-chip {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 8rem;
  width: 100%;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--white);
  .content-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .service-name {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      word-break: break-all;
      p {
        font-size: 22px;
        font-weight: 400;
      }
    }
    .service-icon {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      .icon {
        display: flex;
        z-index: 1;
        font-size: 52px;
        color: var(--primary-red);
      }
    }
  }
}
@media (max-width: 700px) {
  .services-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
