.agency-card {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  height: fit-content;
  padding: 1rem;
  border-radius: var(--border-radius);
  -webkit-mask-image: radial-gradient(white, black);
  mask-image: radial-gradient(white, black);
  background: linear-gradient(
    90deg,
    rgba(204, 4, 4, 1) 0%,
    rgba(161, 3, 3, 1) 70%
  );
  color: var(--white);
  h2 {
    font-weight: 300;
  }
  strong {
    font-weight: 700;
    font-size: 30px;
  }
}
.headshot-container {
  display: flex;
  width: 50%;
  height: 100%;
  position: static;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.headshot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  position: absolute;
  top: -5rem;
  filter: drop-shadow(var(--shadow));
  -webkit-filter: drop-shadow(var(--shadow));
}
.agency-text {
  height: 100%;
  display: flex;
  float: left;
  width: 50%;
  z-index: 1;
}
