.agency-container {
  display: flex;
  width: 80%;
  height: 100%;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}
.experience-container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 30rem;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .experience-card {
    display: flex;
    position: relative;
    width: 20rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: var(--border-radius);
    background: linear-gradient(
      90deg,
      rgb(201, 201, 201) 0%,
      var(--primary-gray) 70%
    );
    .icon-container {
      display: flex;
      height: 100%;
      width: auto;
      justify-content: center;
      align-items: center;
      .player {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
      }
    }
    .photo-container {
      display: flex;
      height: 100%;
      width: auto;
      .photo {
        display: flex;
        object-fit: contain;
        clip-path: inset(0 1px 0 0);
        height: 100%;
        width: auto;
        filter: drop-shadow(var(--shadow));
        -webkit-filter: drop-shadow(var(--shadow));
      }
    }
  }

  .experience-text {
    display: flex;
    height: 100%;
    width: 100%;
    h2 {
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 400;
    }
  }
}
@media (max-width: 700px) {
  .agency-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
