.reviews-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.review-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background: linear-gradient(
    90deg,
    rgb(233, 233, 233) 0%,
    var(--primary-gray) 70%
  );
  border-radius: var(--border-radius);
  a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.review-rating {
  display: flex;
  width: 100%;
  font-size: 30px;
  gap: 0.5rem;
  align-items: center;
}
.star-icon {
  color: rgb(253, 207, 4);
}
.review-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  p {
    font-size: 16px;
  }
}
.review-name {
  display: flex;
  width: 100%;
  justify-content: end;
  h3 {
    font-weight: 400;
  }
}
.review-more-btn {
  display: flex;
  height: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  color: var(--white);
  p {
    display: flex;
    font-size: 18px;
  }
}
