.reviews-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.google-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  .google-text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    h2 {
      font-weight: 300;
      font-size: 22px;
    }
  }
  .google-icon {
    height: 4rem;
    width: auto;
  }
  .stars {
    color: var(--star-yellow);
    font-size: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
}
.review-container {
  display: flex;
  width: 100%;
  min-height: 12rem;
}
.review-card {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background: linear-gradient(
    90deg,
    rgb(233, 233, 233) 0%,
    var(--primary-gray) 70%
  );
  border-radius: var(--border-radius);
  .octagon-svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    right: 0;
    z-index: 2;
  }
  .one-stop-loader {
    stroke: var(--primary-red);
    display: flex;
  }
}
.review-card-content {
  display: flex;
  width: 100%;
  gap: 1rem;
  height: fit-content;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.review-card-content.fade-in {
  opacity: 1;
}
.review-rating {
  display: flex;
  width: 100%;
  font-size: 30px;
  gap: 0.5rem;
  align-items: center;
  h3 {
    font-weight: 600;
  }
}
.star-icon {
  color: var(--star-yellow);
}
.review-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 8rem;
  justify-content: center;
  align-items: center;
  text-align: left;
  p {
    font-size: 16px;
  }
}
.review-name {
  display: flex;
  width: 100%;
  justify-content: end;
  height: fit-content;
  align-items: flex-end;
  h3 {
    font-weight: 400;
  }
}
