.feed-container {
  display: flex;
  height: 100%;
  width: 80%;
  max-width: 40rem;
  height: fit-content;
  flex-direction: column;
  iframe {
    border: none;
  }
}
.media-links {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}
.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  color: var(--white);
  padding: 0.3rem;
  border-radius: var(--border-radius);
  font-size: 40px;
}
.instagram-feed {
  border-radius: var(--border-radius);
  display: flex;
  filter: drop-shadow(var(--shadow));
  margin-bottom: 3rem;
}
@media (max-width: 700px) {
  .feed-container {
    width: 100%;
  }
}
