.quote-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
  align-items: center;
}
.stepper-container {
  display: block;
  height: fit-content;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.quote-step-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  .quote-options-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    button {
      display: flex;
      flex-direction: column;
      background-color: var(--primary-red);
      color: var(--white);
      width: 12rem;
      height: 12rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-radius: var(--border-radius);
      transition: all 200ms ease;
      svg {
        font-size: 60px;
      }
    }
    button:hover {
      background-color: var(--secondary-red);
    }
  }
}
