.quote-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
  align-items: center;
}
.stepper-container {
  display: block;
  height: fit-content;
  width: 100%;
  max-width: var(--max-header-footer-width);
  justify-content: center;
  margin: 2rem 0;
}
.quote-step-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  .quote-header {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--heading-text-color);
  }
  .quote-options-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 4rem;
    button {
      display: flex;
      flex-direction: column;
      background-color: var(--primary-red);
      color: var(--white);
      width: 12rem;
      height: 12rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-radius: var(--border-radius);
      transition: all 200ms ease;
      font-size: 70px;
      h2 {
        font-size: 24px;
      }
    }
    button:hover {
      background-color: var(--secondary-red);
    }
    button#home {
      background-color: var(--secondary-gray);
      svg {
        font-size: 70px;
      }
    }
  }
}
@media (max-width: 700px) {
  .stepper-container {
    margin: 0.5rem 0;
  }
  .quote-header {
    h1 {
      font-size: 32px;
    }
  }
  .quote-options-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  #RFS-LabelContainer {
    display: none;
  }
}
