.contact-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.form-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.MuiSelect-select {
  width: 5rem;
  height: auto;
  color: var(--white);
  font-weight: bold;
  padding: 0.7rem;
  &.MuiInputBase-input {
    &.MuiOutlinedInput-input {
      color: var(--white);
    }
  }
}
.MuiFormLabel-root.Mui-focused {
  color: var(--white);
}
.MuiInputLabel-root {
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
}
.MuiInputLabel-focused {
  color: var(--white);
}
.MuiFormLabel-root {
  &.MuiInputLabel-root {
    color: var(--white);
  }
}
.MuiInputLabel-root {
  color: var(--white);
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-width: 2px;
  border-color: var(--white);
  color: var(--white);
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--white);
  border-width: 2px;
}
.MuiSvgIcon-root {
  &.MuiSelect-icon {
    color: var(--white);
  }
}
