.header-container {
  display: flex;
  height: var(--header-height);
  width: 100%;
  background-color: var(--primary-red);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
.header-logo {
  display: flex;
  height: 100%;
  width: fit-content;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
  img {
    display: flex;
    height: auto;
    width: 3rem;
  }
}
