.scroller-container {
  display: flex;
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 0;
}
.scroller-partners {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-right: 1.5rem;
  .travelers {
    display: flex;
    height: 100%;
    width: 10rem;
  }
  .progressive {
    display: flex;
    height: 100%;
    width: 10rem;
  }
  .erie {
    display: flex;
    height: 100%;
    width: 8rem;
  }
  .foremost {
    display: flex;
    height: 100%;
    width: 10rem;
  }
  .openly {
    display: flex;
    height: 100%;
    width: 6rem;
  }
}
.scroller-header {
  display: flex;
  width: 80%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--tertiary-gray);
  hr {
    background-color: var(--secondary-gray);
    border: 0;
    height: 2px;
    width: 100%;
  }
}
