.footer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  margin-top: 5rem;
}
.footer-content {
  display: flex;
  background-color: var(--primary-red);
  min-height: 5rem;
  height: 100%;
  width: 100%;
}
