.app {
  display: flex;
  height: 100svh;
  width: 100%;
  overflow-y: visible;
  overflow-x: scroll;
}
.app-container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  min-height: 20rem;
  padding: 1rem;
  background-color: var(--primary-red);
  border-radius: var(--border-radius);
  color: var(--white);
}
