.app {
  display: flex;
  height: 100svh;
  width: 100%;
  overflow-y: visible;
  overflow-x: scroll;
}
.app-container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: fit-content;
  padding: 1rem;
  background-color: var(--primary-red);
  border-radius: var(--border-radius);
  color: var(--white);
}
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
