.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30rem;
  z-index: 0;
}
.leaflet-container {
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.map-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  a {
    display: flex;
    max-width: 100%;
    gap: 0.2rem;
    font-size: 28px;
    align-items: center;
    background-color: var(--primary-red);
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color: var(--white);
    transition: background-color 200ms ease;
  }
}
.info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  p {
    font-size: 18px;
  }
}
.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-marker {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: var(--border-radius);
}
@media (max-width: 700px) {
  .map-container {
    height: 24rem;
  }
  .info-container {
    p {
      font-size: 16px;
    }
  }
}
@media (hover: hover) {
  .map-info {
    a:hover {
      background-color: var(--secondary-red);
    }
  }
}
