.banner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.banner-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .company-name {
    display: flex;
    width: 80%;
    max-width: 30rem;
    min-width: 15rem;
    z-index: 1;
    margin-bottom: 1rem;
  }
  .main-banner-image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    .banner-content-container {
      display: flex;
      width: 100%;
      height: 100%;
      max-width: 80rem;
      z-index: 1;
      .headshot-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        overflow: hidden;
        width: 60%;
        .headshot {
          display: flex;
          clip-path: inset(0 1px 0 0);
          height: 80%;
          width: auto;
          filter: drop-shadow(var(--shadow));
          -webkit-filter: drop-shadow(var(--shadow));
        }
      }
      .banner-cta-container {
        display: flex;
        color: var(--white);
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        .banner-cta-text {
          display: flex;
          color: var(--black);
          text-align: center;
          max-width: 40rem;
          h1 {
            font-size: 40px;
          }
        }
        .banner-cta-buttons {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          .banner-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: fit-content;
            background-color: var(--primary-red);
            border-radius: var(--border-radius);
            padding: 1rem 1rem;
            gap: 0.5rem;
            outline: 2px solid transparent;
            transition: all 200ms ease;
            h2 {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              font-size: 20px;
            }
          }
          .banner-btn:hover,
          .banner-btn:focus {
            background-color: var(--secondary-red);
          }
        }
      }
    }
    .skyline {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      object-fit: cover;
      object-position: center;
      opacity: 0.25;
      filter: blur(4px);
      -webkit-filter: blur(4px);
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
      );
    }
    .one-stop-logo {
      display: flex;
      width: 100%;
      max-width: 17rem;
      min-width: 10rem;
      padding-left: 3rem;
      padding-right: 3rem;
      object-fit: contain;
      object-position: center;
      z-index: 1;
    }
  }
}
@media (max-width: 700px) {
  .banner-content-container {
    flex-direction: column-reverse;
    align-items: center;
    .banner-cta-container {
      padding: 0 !important;
    }
    .headshot-container {
      .headshot {
        display: flex;
        clip-path: inset(0 1px 0 0);
        height: 100% !important;
        width: auto;
        filter: drop-shadow(var(--shadow));
        -webkit-filter: drop-shadow(var(--shadow));
      }
    }
  }
}
