.banner-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  margin-top: 2rem;
  gap: 3rem;
  width: 100%;
}
.banner-content {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .company-logo {
    display: flex;
    width: 80%;
    max-width: 40rem;
  }
  .group-photo {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 600px;
    z-index: 1;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }
}
