.banner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.banner-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .company-name {
    display: flex;
    width: 80%;
    max-width: 30rem;
    min-width: 15rem;
    z-index: 1;
    margin-bottom: 1rem;
  }
  .main-banner-image {
    display: flex;
    position: relative;
    justify-content: center;
    height: 480px;
    width: 100%;
    overflow: visible;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
    .skyline {
      position: absolute;
      width: 100%;
      height: 400px;
      bottom: 0;
      object-fit: cover;
      object-position: center;
      opacity: 0.3;
    }
    .group-photo {
      position: absolute;
      width: 100%;
      max-width: 35rem;
      min-width: 30rem;
      object-fit: cover;
      object-position: center;
      bottom: 0;
      z-index: 2;
    }
    .one-stop-logo {
      position: absolute;
      width: 100%;
      max-width: 27rem;
      min-width: 20rem;
      padding-left: 3rem;
      padding-right: 3rem;
      object-fit: cover;
      object-position: center;
      bottom: 30%;
      z-index: 1;
    }
  }
}
